@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
	font-family: 'Quicksand', sans-serif;
}

body {
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.calc {
	display: flex;
	flex-direction: column;
	width: 500px;
	box-shadow: 0 0 35px 0 #000;
}

.display {
	height: 150px;
	width: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 35px;
}

.text {
	font-size: 80px;
	font-weight: 700;
}

.buttons {
	display: grid;
	grid-template-areas:
	"reset backspace power divide"
	"seven eight nine multiply"
	"four five six substract"
	"one two three add"
	"zero dot dot equal";
}

.btn {
	font-size: 60px;
	border: 1px solid black;
}

.btn.number {
	background-color: hsl(0, 0%, 85%);
}

.btn.operators,
.btn.tools {
	background-color: orange;
}

.icon {
	width: 48px;
	height: 48px;
}

.zero {
	grid-area: zero;
}

.dot {
	grid-area: dot;
}

.one {
	grid-area: one;
}

.two {
	grid-area: two;
}

.three {
	grid-area: three;
}

.four {
	grid-area: four;
}

.five {
	grid-area: five:
}

.six {
	grid-area: six;
}

.seven {
	grid-area: seven;
}

.eight {
	grid-area: eight;
}

.nine {
	grid-area: nine;
}

.add {
	grid-area: add;
}

.substract {
	grid-area: substract;
}

.multiply {
	grid-area: multiply;
}

.divide {
	grid-area: divide;
}

.power {
	grid-area: power;
}

.backspace {
	grid-area: backspace;
}

.reset {
	grid-area: reset;
}

.equal {
	grid-area: equal;
}
