@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
	border: 2px solid red;
	font-family: 'Quicksand', sans-serif;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.calc {
	display: flex;
	flex-direction: column;
}

.display {
	height: 150px;
	width: auto;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, '1fr');
	grid-template-rows: repeat(4, '1fr');
	grid-template-areas:
	"seven eight nine divide"
	"four five six multiply"
	"one two three substract"
	"zero dot equal add";
}

.btn {
	font-size: 60px;
}

.zero {
	grid-area: zero;
}

.dot {
	grid-area: dot;
}

.one {
	grid-area: one;
}

.two {
	grid-area: two;
}

.three {
	grid-area: three;
}

.four {
	grid-area: four;
}

.five {
	grid-area: five:
}

.six {
	grid-area: six;
}

.seven {
	grid-area: seven;
}

.eight {
	grid-area: eight;
}

.nine {
	grid-area: nine;
}

.add {
	grid-area: add;
}

.substract {
	grid-area: substract;
}

.multiply {
	grid-area: multiply;
}

.divide {
	grid-area: divide;
}
